<div>
    <h1>Hola {{username}}!</h1>
    <img src="{{img}}" alt="" style="width:100px">
    <p>Address: {{address}}, Name: {{name}}, Age: {{age}}, Phone: {{phone}}</p>

    <form action="/logout" method="get">
        <input type="submit" name="" id="" value="logout">
    </form>
</div>
<form action="/api/productos-test" style="margin-top:15px; border: solid 2px black; padding:4px">
    <label for="">Faker random products →</label>
    <input type="submit" name="" id="" value="Show random products">
</form>
<form action="/cart" style="margin-top:15px; border: solid 2px black; padding:4px">
    <label for="">Go to your cart →</label>
    <input type="submit" name="" id="" value="Cart">
</form>
<div>
    <h2>Products in stock</h2>
    <div style="display:flex">
        {{#each products}}  
            <div style="display:flex; flex-direction:column; align-items:center; margin-left:50px; margin-bottom:10px; border: 3px solid #000000; width: 320px; height:250px">
                <h2>{{this.name}}</h2>
                <img src="{{this.img}}" alt="" width="120">
                <h3>Price: {{this.price}}</h3>
                <form action="/add" method="post">
                    <input type="hidden" value="{{this.name}}" name="prodName"/>
                    <input type="submit" name="" id="" value="Add to cart">
                </form>
            </div>
        {{/each}}
    </div>
</div>
<h2>Chat </h2>
<form id="chatForm">
    <input id="mailIn" type="text" placeholder="email">
    <input id="nameIn" type="text" placeholder="name">
    <input id="lastIn" type="text" placeholder="last name">
    <input id="ageIn" type="text" placeholder="age">
    <input id="aliasIn" type="text" placeholder="alias">
    <input id="mailIn" type="text" placeholder="email">
    <input id="picIn" type="text" placeholder="avatar URL">
    <input id="msgIn" type="text" placeholder="message">
    <input type="submit" value="send">
</form>
<div id="chatPool"></div>
<script src="/socket.io/socket.io.js"></script>
<script src="../client.socket.js"></script>